## Fehlerbehandlung in Pandas

- Prozentzeichen
- NaN (Leere Zellen)
- N.A. (Text)
- Datentypen

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", index_col="Country")

In [3]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Löcher erkennen

pd.isnull(data), pd.notnull(data)

data.isnull(), data.notnull()

In [4]:
data.isnull()

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

Löcher füllen mit ffill() oder bfill()

In [5]:
data.fillna(method="ffill")  # Deprecated

C:\Users\lk3\AppData\Local\Temp\ipykernel_11448\3084555328.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")  # Deprecated

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [6]:
data.ffill(inplace=True)

In [7]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   Area          235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 20.2+ KB

### N.A.

In [9]:
data == "N.A."

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [10]:
(data == "N.A.").value_counts()  # Mit value_counts() Spalten mit Fehlern finden

Pop    YearlyChange  NetChange  Density  Area   Migrants  FertRate  MedAge  UrbanPopPct  WorldShare
False  False         False      False    False  False     False     False   False        False         194
                                                          True      True    False        False          28
                                                          False     False   True         False           7
                                                          True      True    True         False           6
Name: count, dtype: int64

Allgemein ist es schwierig, alle fehlerhaften Werte im ganzen DataFrame gleichzeitig auszutauschen

Lösung: Eigene Funktion, die einen Spaltennamen empfängt

In [11]:
data["FertRate"] == "N.A."

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: FertRate, Length: 235, dtype: bool

In [12]:
zeilen = data[data["FertRate"] == "N.A."]

In [13]:
zeilen["FertRate"] = 0  # Warnung

C:\Users\lk3\AppData\Local\Temp\ipykernel_11448\3285807236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zeilen["FertRate"] = 0  # Warnung

In [14]:
zeilen.loc[:, "FertRate"] = 0  # Neue Werte eintragen

In [15]:
zeilen

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,0.0,0,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,0.0,0,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,0.0,0,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,0.0,0,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,0.0,0,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,0.0,0,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,0.0,0,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,0.0,0,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,0.0,0,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,0.0,0,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,0.0,0,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,0.0,0,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,0.0,0,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,0.0,0,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,0.0,0,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,0.0,0,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,0.0,0,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,0.0,0,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,0.0,0,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,0.0,0,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,0.0,0,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,0.0,0,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,0.0,0,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,0.0,0,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,0.0,0,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,0.0,0,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,0.0,0,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,0.0,0,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,0.0,0,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

In [16]:
index = zeilen.index

In [17]:
data.loc[index, "FertRate"] = 0

In [18]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

#### Eigene Funktion

In [19]:
def fixNA(colName, newValue):
    x = data[colName] == "N.A."  # Alle fehlerhaften Zeilen finden
    i = x[x == True].index  # Die Indizes der fehlerhaften Zeilen entnehmen
    data.loc[i, colName] = newValue  # Mit loc und dem Index die originalen Zeilen mit newValue beschreiben

In [20]:
for col in data.columns:
    fixNA(col, 0)

In [21]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

### Prozentzeichen

Für Prozentzeichen kann str.replace verwendet werden

Diese Funktion kommt direkt von der Spalte

In [22]:
data["WorldShare"].replace(" %", "", regex=True)  # Hier muss regex=True aktiviert sein

Country
China               18.47
India               17.70
United States        4.25
Indonesia            3.51
Pakistan             2.83
                    ...
Montserrat           0.00
Falkland Islands     0.00
Niue                 0.00
Tokelau              0.00
Vatican State        0.00
Name: WorldShare, Length: 235, dtype: object

In [23]:
data["WorldShare"] = data["WorldShare"].replace(" %", "", regex=True)

In [24]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00

#### Funktion für Prozent definieren

In [25]:
def fixPct(colName):
    data[colName] = data[colName].replace(" %", "", regex=True)

In [26]:
for col in data.columns:
    fixPct(col)

In [27]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

### Datentypen

object -> Numerische Typen

Numerische Typen an die Daten anpassen

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   Area          235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

In [29]:
data["YearlyChange"] = data["YearlyChange"].astype(np.float32)

In [30]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

#### Funktion für Typen definieren

In [31]:
def fixType(colName, newType):
    data[colName] = data[colName].astype(newType)

In [32]:
fixType("Pop", np.int32)

In [33]:
fixType("NetChange", np.int32)

In [34]:
fixType("Density", np.int16)

In [35]:
fixType("Area", np.int32)

In [36]:
fixType("Migrants", np.int32)

In [37]:
fixType("FertRate", np.float32)

In [39]:
fixType("MedAge", np.int8)

In [40]:
fixType("UrbanPopPct", np.int8)

In [41]:
fixType("WorldShare", np.float32)

In [42]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38,61,18.469999
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28,35,17.700001
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38,83,4.250000
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30,56,3.510000
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23,35,2.830000
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0.0,0,10,0.000000
Falkland Islands,3480,3.05,103,0,12170,0,0.0,0,66,0.000000
Niue,1626,0.68,11,6,260,0,0.0,0,46,0.000000
Tokelau,1357,1.27,17,136,10,0,0.0,0,0,0.000000
Vatican State,801,0.25,2,2003,0,0,0.0,0,0,0.000000

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    float32
 2   NetChange     235 non-null    int32
 3   Density       235 non-null    int16
 4   Area          235 non-null    int32
 5   Migrants      235 non-null    int32
 6   FertRate      235 non-null    float32
 7   MedAge        235 non-null    int8
 8   UrbanPopPct   235 non-null    int8
 9   WorldShare    235 non-null    float32
dtypes: float32(3), int16(1), int32(4), int8(2)
memory usage: 17.3+ KB

In [44]:
data.to_csv("Data/PopulationDataFertig.csv")